/* Chọn thể loại sách */
#choose-categories1 {
    flex: 0 0 50%;
    min-width: 400px;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 185px 100px;
    grid-template-areas:
        "image-book head"
        "image-book button";

    padding: 10px;

    background-color: rgb(146, 146, 255, 0.74);
    border: 2px solid black;
    border-radius: 10px;

    scroll-snap-align: start;
}

/* Thiết kế head cho thể loại sách */
.about-categories {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.head-categories {
    position: relative;
    top: -8%;
    left: -8%;

    color: white;
    font-size: 4.5em;
}

.name-categories {
    position: relative;
    top: -8%;
    left: 3%;

    color: white;
    font-size: 4.5em;
}

.btn-scroll {
    grid-area: button;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Literatures {
    width: 150px;
    height: auto;

    padding: 5px;

    background: linear-gradient(135deg, rgb(78, 169, 255), cyan);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 0px cyan;
    color: white;
    font-size: 1.2em;

    cursor: pointer;
    transition: width 0.5s, box-shadow 0.5s;
}

#Literatures:hover {
    width: 215px;
    height: auto;

    box-shadow: 0px 0px 20px cyan;
}